<%- include('./partials/header') %>

<h1>Page Seuil</h1>
<p>Bienvenue</p>

<form action="/result" method="POST">
    <label for="firstname">firstname</label>
    <input type="text" name="firstname" id="firstname">
    <button type="submit">Envoyer</button>
</form>

<%- include('./partials/footer') %>